<nav class="navbar navbar-default">

  <div class="navbar-header">

    <a class="navbar-brand" href="#">Hi {{admin}}!</a>

  </div>

  <ul class="nav navbar-nav navbar-right">

    <li class="active">
    <li><a href="#">Log Out</a></li>

  </ul>

</nav> 		

<div class="container">

  <div class="row">

	  <div class="row">
        <div class="col-md-6">
          <h3>User Name</h3>
        </div>
        <div class="col-md-2">
          <h3>Preparer</h3>
        </div>
        <div class="col-md-2">
          <h3>Reviewer</h3>
        </div>
        <div class="col-md-2">          
        </div>
      </div>

      <hr/>

      <form>
		  <div class="row">
	        <div class="col-md-6">
	          <input type="text" name="newUserName" [(ngModel)]="newUserName">
	        </div>
	        <div class="col-md-2">
	          <a class="btn btn-primary btn-block" (click)= "togglePrep()">{{newUserPrep?"Enabled":"Disabled"}}</a>
	        </div>
	        <div class="col-md-2">
	          <a class="btn btn-primary btn-block" (click)= "toggleRev()">{{newUserRev?"Enabled":"Disabled"}}</a>
	        </div>
	        <div class="col-md-2">
	          <a class="btn btn-primary btn-block" (click)= "submitUser()">Add User</a>
	        </div>
	      </div>
	      <hr/>
      </form>

      

      <ul class="list-unstyled">
	      <li *ngFor="let user of usersList; let i = index">
			  <div class="row">
		        <div class="col-md-6">
		          <h3>{{user.userName}}</h3>
		        </div>
		        <div class="col-md-2">
		          <a class="btn btn-primary btn-block" (click)= "togglePrepStatus(i)">{{user.preparer?"Enabled":"Disabled"}}</a>
		        </div>
		        <div class="col-md-2">
		          <a class="btn btn-primary btn-block" (click)= "toggleRevStatus(i)">{{user.reviewer?"Enabled":"Disabled"}}</a>
		        </div>
		        <div class="col-md-2">
		          <a class="btn btn-primary btn-block" (click)= "deleteUser(i)">Delete User</a>
		        </div>
		      </div>
		      <hr/>
	      </li>
      </ul>

      
</div>